<table>
    <thead>
        <tr>
            <th>Equipment</th>
            <th>Technician</th>
            <th>Type</th>
            <th>Status</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @for(item of data; track item.id) {
        <tr>
            <td>{{ equipmentMap?.get(item.equipmentId) ?? item.equipmentId }}</td>
            <td>{{ item.technician }}</td>
            <td>{{ item.type | typeLabel:'maintenance' }}</td>
            <td>{{ item.status | statusLabel:'maintenance' }}</td>
            <td><a [routerLink]="['/maintenance', item.id]">Ver más</a></td>

        </tr>
        }
    </tbody>
</table>
