<table class="w-full border-separate border-spacing-x-6 border-spacing-y-2 text-sm md:text-base">
  <thead>
    <tr>
      <th class="th">Código</th>
      <th class="th">Nombre</th>
      <th class="th">Tipo</th>
      <th class="th">Estado</th>
      <th class="th">Edificio</th>
      <th class="th">Piso</th>
      <th class="th">Sala</th>
      <th class="th">Dirección</th>
      <th class="th text-right">Detalles</th>
    </tr>
  </thead>
  <tbody>
    @for(item of data; track item.id) {
    <tr>
      <td class="td">{{ item.code }}</td>
      <td class="td">{{ item.name }}</td>
      <td class="td">{{ item.type | typeLabel:'location' }}</td>
      <td class="td">{{ item.status | statusLabel:'location' }}</td>
      <td class="td">{{ item.building || '-' }}</td>
      <td class="td">{{ item.floor || '-' }}</td>
      <td class="td">{{ item.room || '-' }}</td>
      <td class="td">{{ item.address || '-' }}</td>
      <td class="td text-right">
        <a class="link" [routerLink]="['/location', item.id]">Ver más</a>
      </td>
    </tr>
    }
  </tbody>
</table>
