<table>
    <thead>
        <tr>
            <th>Asset Tag</th>
            <th>Serial</th>
            <th>Model</th>
            <th>Type</th>
            <th>Status</th>
            <th>Location</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @for(item of data; track item.id) {
        <tr>
            <td>{{ item.assetTag }}</td>
            <td>{{ item.serialNumber }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.type | typeLabel }}</td>
            <td>{{ item.status | statusLabel }}</td>
            <td>{{ locationMap?.get(item.locationId) ?? item.locationId }}</td>
            <td><a [routerLink]="['/equipment', item.id]">Ver más</a></td>
        </tr>
        }
    </tbody>
</table>
